.image {
  width: 250px;
  height: 220px;
}
@media screen and (max-width: 576px) {
  .image {
    width: 320px;
    height: 220px;
  }
}
.list {
  list-style-type: none;
  margin: 0 20px 20px 0;
}
.title {
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 20px;
    font-weight: 700;
  }
}
